* {
    box-sizing: border-box;
}

/* 顶部搜索栏样式 */
.top-search {
    position: relative;
    width: 100%;
    height: calc(84rem / 75);
    background-color: #f2f2f2;
}

.top-search img {
    position: absolute;
    width: calc(50rem / 75);
    height: calc(32rem / 75);
    left: calc(25rem / 75);
    top: calc(22rem / 75);
}

.top-search input {
    position: relative;
    /* position: absolute; */
    width: calc(574rem / 75);
    height: calc(68rem / 75);
    left: calc(100rem / 75);
    padding-left: calc(64rem / 75);
    top: calc(8rem / 75);
    border-radius: calc(6rem / 75);
    border: calc(2rem / 75) solid #e5e5e5;
}

.top-search ::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: calc(32rem / 75);
}

.top-search::before {
    width: calc(42rem / 75);
    height: calc(42rem / 75);
    content: "";
    position: absolute;
    left: calc(113rem / 75);
    top: calc(18rem / 75);
    /* background-color: pink; */
    background-image: url(../img/index.img/searc.png);
    background-size: calc(42rem / 75);
    z-index: 9999;
}

.top-search::after {
    width: calc(42rem / 75);
    height: calc(42rem / 75);
    content: "";
    position: absolute;
    right: calc(20rem / 75);
    top: calc(18rem / 75);
    /* background-color: pink; */
    background-image: url(../img/index.img/set.png);
    background-size: calc(42rem / 75);
    z-index: 9999;
}

/* 顶部导航栏样式 */
.top-nav {
    position: relative;
    width: 100%;
    height: calc(64rem / 75);
    background-color: #f2f2f2;
    padding-right: calc(70rem / 75);
}

.top-nav-left span {
    color: #747474;
    font-size: calc(28rem / 75);
    margin: 0 calc(23rem / 75);
    line-height: calc(64rem / 75);
}

.top-nav-left span:nth-child(1) {
    display: inline-block;
    height: calc(64rem / 75);
    border-bottom: calc(4rem / 75) solid #ed640e;
    color: #ed640e;
}

.top-nav-right img {
    position: absolute;
    top: calc(10rem / 75);
    right: calc(17rem / 75);
    width: calc(50rem / 75);
    height: calc(50rem / 75);
}

/* 轮播图样式 */
.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
}

.xyd {
    position: absolute;
    left: calc(318rem / 75);
    bottom: calc(26rem / 75);
    overflow: hidden;
}

.xyd li {
    float: left;
    width: calc(16rem / 75);
    height: calc(16rem / 75);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: calc(20rem / 75);
}

.xyd li:nth-child(1) {
    background-color: #fff;
}

/* 小米秒杀 */
.seckill {
    width: 100%;
    height: calc(316rem / 75);
    /* background-color: pink; */
    overflow: hidden;
}

.seckill img {
    float: left;
    width: 20%;
    height: 50%;
}

/* 广告样式 */
.adv-new {
    width: 100%;
    padding: calc(20rem/75) 0;
    /* height: calc(270rem / 75); */
    background-color: #f5f5f5;
}

.adv-new img {
    width: 100%;
    /* height: calc(270rem / 75); */
}

/* MIX样式 */
.mix {
    /* display: flex; */
    width: 100%;
    overflow: hidden;
}

.mix-left {
    /* flex: 1; */
    float: left;
    width: 49.5%;
    margin-right: calc(6rem / 75);
}

.mix-left img {
    width: 100%;
}

.mix-right {
    float: right;
    width: 49.5%;
}

.mix-right img {
    width: 100%;
    margin-bottom: calc(4rem / 75);
}

/* 广告 */
.adv-r8a {
    width: 100%;
    /* padding: calc(20rem/75) 0; */
    background-color: #f5f5f5;
    margin: calc(16rem / 75) 0;
}

.adv-r8a img {
    width: 100%;
}

/* 广告 */
.adv-r8 {
    width: 100%;
    /* padding: calc(20rem/75) 0; */
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-r8 img {
    width: 100%;
}

/* 红米Nate8Pro样式 */
.rn8p-list {
    margin-top: calc(6rem / 75);
    width: 100%;
    /* height: calc(1132rem / 75); */
    background-color: #fff;
    overflow: hidden;
}

.rn8p-list li {
    float: left;
    padding: 0 calc(6rem / 75);
    width: 49.95%;
    text-align: center;
}


.rn8p-list li:nth-child(3) {
    margin: calc(28rem / 75) 0;
}

.rn8p-list li:nth-child(4) {
    margin: calc(28rem / 75) 0;
}

.rn8p-list li img {
    width: 100%;
}

.rn8p-list li h2 {
    margin-top: calc(25rem / 75);
}

.rn8p-list li p {
    color: #757575;
    font-size: calc(24rem / 75);
    margin-top: calc(16rem / 75);
}

.rn8p-list li span {
    display: inline-block;
    color: red;
    font-size: calc(24rem / 75);
    margin-top: calc(14rem / 75);
}

.rn8p-list li del {
    display: inline-block;
    margin-top: calc(14rem / 75);
    font-size: calc(18rem / 75);
    color: #757575;
    text-decoration: line-through;
}

.rn8p-list li a {
    display: block;
    width: calc(208rem / 75);
    height: calc(62rem / 75);
    line-height: calc(62rem / 75);
    margin: 0 auto;
    margin-top: calc(6rem / 75);
    font-size: calc(24rem / 75);
    color: #fff;
    background-color: #ea625b;
    border-radius: calc(6rem / 75);
}

.rn8p-more {
    /* margin: 0 auto; */
    text-align: center;
    font-size: calc(28rem / 75);
    color: #666;
    padding: calc(35rem / 75) 0;
    border-top: calc(2rem /75) solid #cecece;

}

/* 粉丝专属福利广告 */
.adv-fl {
    width: 100%;
    padding: calc(20rem/75) 0;
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-fl img {
    width: 100%;
}

.adv-tv {
    width: 100%;
    padding-bottom: calc(20rem/75);
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-tv img {
    width: 100%;
}

/* 小米电视列表 */
.tv-list {
    margin-top: calc(6rem / 75);
    width: 100%;
    /* height: calc(1132rem / 75); */
    background-color: #fff;
    overflow: hidden;
}

.tv-list li {
    float: left;
    padding: 0 calc(6rem / 75);
    width: 49.95%;
    text-align: center;
}


.tv-list li:nth-child(3) {
    margin: calc(28rem / 75) 0;
}

.tv-list li:nth-child(4) {
    margin: calc(28rem / 75) 0;
}

.tv-list li img {
    width: 100%;
}

.tv-list li h2 {
    margin-top: calc(25rem / 75);
}

.tv-list li p {
    color: #757575;
    font-size: calc(24rem / 75);
    margin-top: calc(16rem / 75);
}

.tv-list li span {
    display: inline-block;
    color: red;
    font-size: calc(24rem / 75);
    margin-top: calc(14rem / 75);
}

.tv-list li del {
    display: inline-block;
    margin-top: calc(14rem / 75);
    font-size: calc(18rem / 75);
    color: #757575;
    text-decoration: line-through;
}

.tv-list li a {
    display: block;
    width: calc(208rem / 75);
    height: calc(62rem / 75);
    line-height: calc(62rem / 75);
    margin: 0 auto;
    margin-top: calc(6rem / 75);
    font-size: calc(24rem / 75);
    color: #fff;
    background-color: #ea625b;
    border-radius: calc(6rem / 75);
}

.tv-more {
    margin: calc(35rem / 75) auto;
    border-top: calc(2rem /75) solid #cecece;
    text-align: center;
    font-size: calc(28rem / 75);
    color: #666;
    padding-top: calc(35rem / 75);
}

/* 十二星座广告 */
.adv-xz {
    width: 100%;
    padding: calc(20rem/75) 0;
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-xz img {
    width: 100%;
}

/* 笔记本广告 */
.adv-bjb {
    width: 100%;
    padding-bottom: calc(20rem / 75);
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-bjb img {
    width: 100%;
}


/* 小米笔记本列表 */
.bjb-list {
    margin-top: calc(6rem / 75);
    width: 100%;
    /* height: calc(1132rem / 75); */
    background-color: #fff;
    overflow: hidden;
}

.bjb-list li {
    float: left;
    padding: 0 calc(6rem / 75);
    width: 49.95%;
    text-align: center;
}


.bjb-list li:nth-child(3) {
    margin: calc(28rem / 75) 0;
}

.bjb-list li:nth-child(4) {
    margin: calc(28rem / 75) 0;
}

.bjb-list li img {
    width: 100%;
}

.bjb-list li h2 {
    margin-top: calc(25rem / 75);
}

.bjb-list li p {
    color: #757575;
    font-size: calc(24rem / 75);
    margin-top: calc(16rem / 75);
}

.bjb-list li span {
    display: inline-block;
    color: red;
    font-size: calc(24rem / 75);
    margin-top: calc(14rem / 75);
}

.bjb-list li del {
    display: inline-block;
    margin-top: calc(14rem / 75);
    font-size: calc(18rem / 75);
    color: #757575;
    text-decoration: line-through;
}

.bjb-list li a {
    display: block;
    width: calc(208rem / 75);
    height: calc(62rem / 75);
    line-height: calc(62rem / 75);
    margin: 0 auto;
    margin-top: calc(6rem / 75);
    font-size: calc(24rem / 75);
    color: #fff;
    background-color: #ea625b;
    border-radius: calc(6rem / 75);
}

.bjb-more {
    margin: calc(35rem / 75) auto;
    border-top: calc(2rem /75) solid #cecece;
    text-align: center;
    font-size: calc(28rem / 75);
    color: #666;
    padding-top: calc(35rem / 75);
}

/* 空调广告 */
.adv-kt {
    width: 100%;
    padding: calc(20rem/75) 0;
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-kt img {
    width: 100%;
}

/* 家电广告 */
.adv-jd {
    width: 100%;
    padding-bottom: calc(20rem / 75);
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-jd img {
    width: 100%;
}


/* 小米笔记本列表 */
.jd-list {
    margin-top: calc(6rem / 75);
    width: 100%;
    /* height: calc(1132rem / 75); */
    background-color: #fff;
    overflow: hidden;
}

.jd-list li {
    float: left;
    padding: 0 calc(6rem / 75);
    width: 49.95%;
    text-align: center;
}


.jd-list li:nth-child(3) {
    margin: calc(28rem / 75) 0;
}

.jd-list li:nth-child(4) {
    margin: calc(28rem / 75) 0;
}

.jd-list li img {
    width: 100%;
}

.jd-list li h2 {
    margin-top: calc(25rem / 75);
}

.jd-list li p {
    color: #757575;
    font-size: calc(24rem / 75);
    margin-top: calc(16rem / 75);
}

.jd-list li span {
    display: inline-block;
    color: red;
    font-size: calc(24rem / 75);
    margin-top: calc(14rem / 75);
}

.jd-list li del {
    display: inline-block;
    margin-top: calc(14rem / 75);
    font-size: calc(18rem / 75);
    color: #757575;
    text-decoration: line-through;
}

.jd-list li a {
    display: block;
    width: calc(208rem / 75);
    height: calc(62rem / 75);
    line-height: calc(62rem / 75);
    margin: 0 auto;
    margin-top: calc(6rem / 75);
    font-size: calc(24rem / 75);
    color: #fff;
    background-color: #ea625b;
    border-radius: calc(6rem / 75);
}

.jd-more {
    margin: calc(35rem / 75) auto;
    border-top: calc(2rem /75) solid #cecece;
    text-align: center;
    font-size: calc(28rem / 75);
    color: #666;
    padding-top: calc(35rem / 75);
}




/* 智能广告 */
.adv-zn {
    width: 100%;
    padding: calc(20rem/75) 0;
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-zn img {
    width: 100%;
}

/* 小米智能广告 */
.adv-mjzn {
    width: 100%;
    padding-bottom: calc(20rem / 75);
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-mjzn img {
    width: 100%;
}


/* 小米笔记本列表 */
.mjzn-list {
    margin-top: calc(6rem / 75);
    width: 100%;
    /* height: calc(1132rem / 75); */
    background-color: #fff;
    overflow: hidden;
}

.mjzn-list li {
    float: left;
    padding: 0 calc(6rem / 75);
    width: 49.95%;
    text-align: center;
}

.mjzn-list li:nth-child(3) {
    margin: calc(28rem / 75) 0;
}

.mjzn-list li:nth-child(4) {
    margin: calc(28rem / 75) 0;
}

.mjzn-list li img {
    width: 100%;
}

.mjzn-list li h2 {
    margin-top: calc(25rem / 75);
}

.mjzn-listli p {
    color: #757575;
    font-size: calc(24rem / 75);
    margin-top: calc(16rem / 75);
}

.mjzn-list li span {
    display: inline-block;
    color: red;
    font-size: calc(24rem / 75);
    margin-top: calc(14rem / 75);
}

.mjzn-list li del {
    display: inline-block;
    margin-top: calc(14rem / 75);
    font-size: calc(18rem / 75);
    color: #757575;
    text-decoration: line-through;
}

.mjzn-list li a {
    display: block;
    width: calc(208rem / 75);
    height: calc(62rem / 75);
    line-height: calc(62rem / 75);
    margin: 0 auto;
    margin-top: calc(6rem / 75);
    font-size: calc(24rem / 75);
    color: #fff;
    background-color: #ea625b;
    border-radius: calc(6rem / 75);
}

.mjzn-more {
    margin: calc(35rem / 75) auto;
    border-top: calc(2rem /75) solid #cecece;
    text-align: center;
    font-size: calc(28rem / 75);
    color: #666;
    padding-top: calc(35rem / 75);
}

/* 末尾列表样式 */
.more-list {
    width: 100%;
    overflow: hidden;
}

.more-list li {
    float: left;
    width: 49.5%;
    padding: 0 calc(6rem / 75);
    padding-bottom: calc(6rem / 75);
}

.more-list li img {
    width: 100%;
}

/* 以旧换新广告样式 */
.adv-yjhx {
    width: 100%;
    /* padding-bottom: calc(20rem / 75); */
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
}

.adv-yjhx img {
    width: 100%;
}

/* 了解小米样式 */
.ljxm {
    width: 100%;
    /* padding-bottom: calc(10rem / 75); */
    background-color: #f5f5f5;
    /* margin: calc(16rem / 75) 0; */
    margin-bottom: calc(110rem / 75);
}

.ljxm img {
    width: 100%;
}

/* 底部导航样式 */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(750rem / 75);
    /* height: calc(104rem / 75); */
    padding: calc(13rem / 75) 0;
    background-color: #fff;
    overflow: hidden;
}

.bottom-nav li {
    float: left;
    width: 25%;
    text-align: center;
}

.bottom-nav li img {
    width: calc(40rem / 75);
    margin: 0 calc(66rem / 75);
    margin-bottom: calc(12rem / 75);
}

.bottom-nav li span {
    display: block;
    margin: 0 auto;
    font-size: calc(24rem / 75);
    color: #999;
}

.bottom-nav li:nth-child(1) span {
    color: #f56c02;
}