html,
body {
    background-color: #f5f5f5;
    /* margin-bottom: calc(20rem / 75); */
}

/* 头部样式 */
header {
    width: 100%;
    height: calc(166rem / 75);
    background-color: #ee7b10;
    line-height: calc(166rem / 75);
    padding-left: calc(34rem / 75);
    margin-right: calc(16rem / 75);
}

header>img {
    width: calc(100rem / 75);
}

header>span {
    font-size: calc(12.5rem / 75);
    color: #fff;
}

/* 订单样式 */
.order {
    width: 100%;
}

.order-title {
    height: calc(84rem / 75);
    overflow: hidden;
    padding: 0 calc(32rem / 75);
    border-bottom: calc(2rem / 75) solid #d9d9d9;
    background-color: #fff;
}

.order-title a {
    color: #000;
    font-size: calc(30rem / 75);
    line-height: calc(84rem / 75);
}

.order-title a:nth-child(1) {
    float: left;
}

.order-title a:nth-child(2) {
    float: right;
}

.order-list {
    width: 100%;
    height: calc(176rem / 75);
    padding: calc(48rem / 75) calc(84rem / 75) calc(42rem / 75);
    overflow: hidden;
    background-color: #fff;
}

.order-list li {
    float: left;
    width: 33.33%;
    text-align: center;
}

.order-list li img {
    width: calc(44rem / 75);
    /* height: calc(36rem / 75); */
    margin-bottom: calc(24rem / 75);
}

.order-list li p {
    font-size: calc(24rem / 75);
    margin-bottom: calc(20rem / 75);
}

/* 会员中心样式 */
.vip {
    margin-top: calc(20rem / 75);
    width: 100%;
    height: calc(224rem / 75);
    background-color: #fff;
}

.vip-top,
.vip-bottom {
    position: relative;
    padding-left: calc(116rem / 75);
    width: 100%;
    height: 50%;
}

.vip-top a,
.vip-bottom a {
    display: inline-block;
    width: calc(634rem / 75);
    height: calc(112rem / 75);
    line-height: calc(112rem / 75);
    font-size: calc(30rem / 75);
    color: #000;
    text-align: left;
}

.vip-top:first-child a,
.vip-bottom:first-child a {
    border-bottom: calc(2rem / 75) solid #d9d9d9;
}

.vip-top img,
.vip-bottom img {
    position: absolute;
    top: calc(32rem / 75);
    left: calc(35rem / 75);
    width: calc(50rem / 75);
    line-height: calc(112rem / 75);
}

/* 服务中心样式 */
.serve {
    margin-top: calc(20rem / 75);
    width: 100%;
    height: calc(224rem / 75);
    background-color: #fff;
}

.serve-top,
.serve-bottom {
    position: relative;
    padding-left: calc(116rem / 75);
    width: 100%;
    height: 50%;
}

.serve-top a,
.serve-bottom a {
    display: inline-block;
    width: calc(634rem / 75);
    height: calc(112rem / 75);
    line-height: calc(112rem / 75);
    font-size: calc(30rem / 75);
    color: #000;
    text-align: left;
}

.serve-top:first-child a,
.serve-bottom:first-child a {
    border-bottom: calc(2rem / 75) solid #d9d9d9;
}

.serve-top img,
.serve-bottom img {
    position: absolute;
    top: calc(32rem / 75);
    left: calc(35rem / 75);
    width: calc(50rem / 75);
    line-height: calc(112rem / 75);
}

/* 我的F码样式 */
.mine {
    margin-top: calc(20rem / 75);
    width: 100%;
    height: calc(224rem / 75);
    background-color: #fff;
}

.mine-top,
.mine-bottom {
    position: relative;
    padding-left: calc(116rem / 75);
    width: 100%;
    height: 50%;
}

.mine-top a,
.mine-bottom a {
    display: inline-block;
    width: calc(634rem / 75);
    height: calc(112rem / 75);
    line-height: calc(112rem / 75);
    font-size: calc(30rem / 75);
    color: #000;
    text-align: left;
}

.mine-top:first-child a,
.mine-bottom:first-child a {
    border-bottom: calc(2rem / 75) solid #d9d9d9;
}

.mine-top img,
.mine-bottom img {
    position: absolute;
    top: calc(32rem / 75);
    left: calc(35rem / 75);
    width: calc(50rem / 75);
    line-height: calc(112rem / 75);
}

/* 设置样式 */
.set {
    position: relative;
    margin-top: calc(20rem / 75);
    margin-bottom: calc(100rem / 75);
    width: 100%;
    height: calc(112rem / 75);
    background-color: #fff;
    padding-left: calc(116rem / 75);

}


.set a {
    display: inline-block;
    width: calc(634rem / 75);
    height: calc(112rem / 75);
    line-height: calc(112rem / 75);
    font-size: calc(30rem / 75);
    color: #000;
    text-align: left;
}

.set img {
    position: absolute;
    top: calc(32rem / 75);
    left: calc(35rem / 75);
    width: calc(50rem / 75);
    line-height: calc(112rem / 75);
}

/* 底部导航样式 */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(750rem / 75);
    /* height: calc(104rem / 75); */
    padding: calc(13rem / 75) 0;
    background-color: #fff;
    overflow: hidden;
}

.bottom-nav li {
    float: left;
    width: 25%;
    text-align: center;
}

.bottom-nav li img {
    width: calc(40rem / 75);
    margin: 0 calc(66rem / 75);
    margin-bottom: calc(12rem / 75);
}

.bottom-nav li span {
    display: block;
    margin: 0 auto;
    font-size: calc(24rem / 75);
    color: #999;
}

.bottom-nav li:nth-child(1) span {
    color: #f56c02;
}