* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  position: relative;
  width: 100%;
  height: calc(80rem / 75);
  background-color: #f2f2f2;
  padding: 0 calc(20rem / 75);
}

.top-left {
  position: absolute;
  left: calc(0rem / 75);
  top: calc(10rem / 75);
  width: calc(40rem / 75);
  height: calc(40rem / 75);
  background: url(../img/search.img/left.png) no-repeat;
  background-size: cover;
  float: left;
  margin-top: calc(10rem / 75);
}

.top-con {
  position: absolute;
  width: 100%;
  /* height: calc(160rem / 75); */
  padding: 0 calc(70rem / 75);
  left: 0;
  top: 9px;
}

.top-con input {
  position: absolute;
  left: calc(60rem / 75);
  top: calc(-10rem / 75);
  border: 2px solid #e5e5e5;
  width: calc(600rem / 75);
  height: calc(60rem / 75);
  outline: 0;
  font-size: calc(9rem / 75);
  font-weight: 400;
}

.top-right {
  position: absolute;
  right: calc(20rem / 75);
  top: calc(10rem / 75);
  width: calc(50rem / 75);
  height: calc(50rem / 75);
  background: url(../img/search.img/right.png) no-repeat;
  background-size: cover;
  float: right;
  margin-top: calc(7rem / 75);
}


.main-top {
  height: calc(46rem / 75);
  font-size: calc(16rem / 75);
  line-height: calc(46rem / 75);
  padding-left: calc(20rem / 75);
}

.main-img {
  width: 100%;

}

.main-img img {
  width: 100%;
}

.main-box {
  width: 100%;
  padding: calc(20rem / 75);
  overflow: hidden;
}

.main-box a {
  float: left;
  height: calc(15rem / 75);
  padding: calc(15rem / 75) calc(8rem / 75);
  width: auto;
  border: calc(2rem / 75) solid #999999;
  margin: calc(6rem / 75);
  box-sizing: content-box;
  color: #999999;

}

.main-bottom {
  padding: calc(20rem / 75);
  width: 100%;

}

.motttom-box a {
  float: left;
  width: auto;
  height: calc(35rem / 75);
  padding: 0 calc(15rem / 75);
  margin-right: calc(15rem / 75);
  margin-bottom: calc(10rem / 75);
  background-color: #f5f5f5;
  font-size: calc(10rem / 75);
  line-height: calc(35rem / 75);
}