* {
    box-sizing: border-box;
}

/* 顶部搜索栏样式 */
.top-search {
    position: relative;
    width: 100%;
    height: calc(84rem / 75);
    background-color: #f2f2f2;
}

.top-search img {
    position: absolute;
    width: calc(50rem / 75);
    height: calc(32rem / 75);
    left: calc(25rem / 75);
    top: calc(22rem / 75);
}

.top-search input {
    position: relative;
    /* position: absolute; */
    width: calc(574rem / 75);
    height: calc(68rem / 75);
    left: calc(100rem / 75);
    padding-left: calc(64rem / 75);
    top: calc(8rem / 75);
    border-radius: calc(6rem / 75);
    border: calc(2rem / 75) solid #e5e5e5;
}

.top-search ::-webkit-input-placeholder {
    color: #b2b2b2;
    font-size: calc(32rem / 75);
}

.top-search::before {
    width: calc(42rem / 75);
    height: calc(42rem / 75);
    content: "";
    position: absolute;
    left: calc(113rem / 75);
    top: calc(18rem / 75);
    /* background-color: pink; */
    background-image: url(../img/index.img/searc.png);
    background-size: calc(42rem / 75);
    z-index: 9999;
}

.top-search::after {
    width: calc(42rem / 75);
    height: calc(42rem / 75);
    content: "";
    position: absolute;
    right: calc(20rem / 75);
    top: calc(18rem / 75);
    /* background-color: pink; */
    background-image: url(../img/index.img/set.png);
    background-size: calc(42rem / 75);
    z-index: 9999;
}

/* 顶部导航栏样式 */
.top-nav {
    position: relative;
    width: 100%;
    height: calc(64rem / 75);
    background-color: #f2f2f2;
    padding-right: calc(70rem / 75);
}

.top-nav-left span {
    color: #747474;
    font-size: calc(28rem / 75);
    margin: 0 calc(23rem / 75);
    line-height: calc(64rem / 75);
}

.top-nav-left span:nth-child(2) {
    display: inline-block;
    height: calc(64rem / 75);
    border-bottom: calc(4rem / 75) solid #ed640e;
    color: #ed640e;
}

.top-nav-right img {
    position: absolute;
    top: calc(10rem / 75);
    right: calc(17rem / 75);
    width: calc(50rem / 75);
    height: calc(50rem / 75);
}

/* 轮播图样式 */
.banner {
    position: relative;
    width: 100%;
}

.banner img {
    width: 100%;
}

.xyd {
    position: absolute;
    left: calc(318rem / 75);
    bottom: calc(26rem / 75);
    overflow: hidden;
}

.xyd li {
    float: left;
    width: calc(16rem / 75);
    height: calc(16rem / 75);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: calc(20rem / 75);
}

.xyd li:nth-child(1) {
    background-color: #fff;
}